[Unit]
Description=BusyBox crond

[Service]
Restart=always
SyslogFacility=cron
ExecStart=/bin/busybox crond -f -l 5

[Install]
WantedBy=multi-user.target
