[Unit]
Description=BusyBox ntpd
After=network.target

[Service]
Restart=always
ExecStart=-/bin/busybox ntpd -l -p pool.ntp.org -p ntp.xs4all.nl -n 2>&1

[Install]
WantedBy=multi-user.target
