[Unit]
Description=Fossil server

[Service]
Restart=always
EnvironmentFile=/etc/conf.d/fossil
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_BROADCAST CAP_NET_ADMIN CAP_NET_RAW
ExecStart=/usr/bin/fossil $fossil

