[Unit]
Description=Static network configuration

[Service]
Type=oneshot
EnvironmentFile=/etc/conf.d/net
RemainAfterExit=yes
ExecStart=/usr/bin/ip link set up dev %I
ExecStart=/usr/bin/ip addr flush dev %I scope global
ExecStart=/usr/bin/ip addr add ${%I_address}/${%I_netmask} dev %I
ExecStart=-/usr/bin/ip route add default via ${%I_gateway}
ExecStop=/usr/bin/ip addr flush dev %I scope global
ExecStop=/usr/bin/ip link set down dev %I
