[Unit]
Description=BusyBox udhcpc

[Service]
Restart=always
EnvironmentFile=/etc/conf.d/net
User=dhcp
Group=dhcp
ExecStart=-/sbn/udhcpc -v -f -S -i $interface
