[Unit]
Description=Static IP configuration

[Service]
Type=oneshot
EnvironmentFile=/etc/conf.d/net
ExecStart=/usr/bin/ip addr flush dev ${interface} scope global
ExecStart=/usr/bin/ip addr add ${address}/${netmask} dev ${interface}
ExecStart=/usr/bin/ip route add default via ${gateway}

