[Unit]
Description=BusyBox ntpd

[Service]
Restart=always
EnvironmentFile=/etc/conf.d/net
User=ntpd
Group=ntpd
ExecStart=-/bin/busybox ntpd -l -n -N $ntpdopts
StandardError=syslog

