[Unit]
Description=BusyBox ntpd

[Service]
Restart=always
EnvironmentFile=/etc/conf.d/net
CapabilityBoundingSet=CAP_SYS_TIME
ExecStart=-/usr/bin/ntpd -n -N $ntpdopts
StandardError=syslog

