[Unit]
Description=OpenBSD Secure Shell Service

[Service]
ExecStart=/usr/sbin/sshd -D -oKexAlgorithms=diffie-hellman-group-exchange-sha256 -h /etc/ssh/ssh_host_dsa_key -h /etc/ssh/ssh_host_rsa_key

