[Unit]
Description=sync
DefaultDependencies=no
After=systemd-random-seed-save.service
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sync
ExecStart=/usr/bin/echo 3 > /proc/sys/vm/drop_caches
ExecStart=/usr/bin/echo 0 > /proc/sys/vm/drop_caches
ExecStart=/usr/bin/mount -o remount,ro /
