[Unit]
Description=BusyBox syslogd

[Service]
Sockets=syslog.socket
Restart=always
User=syslogd
Group=syslogd
ExecStart=/usr/bin/syslogd -n -C1024
StandardOutput=null
